*{
    margin: 0;
    padding: 0;
}
.container{
    background:url(libraries-6-1533667348.jpg);
    height: 100vh;
    background-size: 100% 100%;
    color: beige;
    
}

.container .navbar{
    width: 100%;
    height: 80px;
    background: rgb(138, 27, 27, 0.638)

}

.navbar ul {
    float:right;
    margin-right: 20px;
}
.navbar .logo{
    display: inline-block;
    margin-left: 50px;
    margin-top:10px ;
}

.navbar .logo a{
    text-decoration:none ;
    font-size: 30px;
    font-family:sans-serif ;
    color: #f3f3f3;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin:0 8px;
    line-height: 80px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 6px 13px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    transition: 2s;
}


.navbar ul li a:hover{
background: #beae93;
border-radius: 20px;
}

.navbar ol li h2{
    color: rgb(175, 175, 175);
    position: absolute;
    margin-top: 100px;
    margin-left: 20px;
    


}
.logo{
    position: absolute;
    top: -15px;
    left: -40px;
    
       
   }